Repository g42cloud-terraform/terraform-provider-g42cloud, pull requests merged in 2023-12, with the labels that each got.

#186 fix: fix prow jobs running conditions
  .github/workflows/prow-command.yml
  .github/workflows/prow-merge-on-lgtm.yml
Labels: size/XS

#158 feat(DEW): add a DataSource to query the CSMS secret
  docs/data-sources/csms_secret_version.md
  g42cloud/provider.go
  g42cloud/services/acceptance/dew/data_source_g42cloud_csms_secret_version_test.go
Labels: approved, LGTM, feature, size/M

#155 feat(DDM): import DDM resource, unit test and document.
  docs/data-sources/ddm_engines.md
  docs/data-sources/ddm_flavors.md
  g42cloud/provider.go
  g42cloud/services/acceptance/ddm/data_source_g42cloud_ddm_engines_test.go
  g42cloud/services/acceptance/ddm/data_source_g42cloud_ddm_flavors_test.go
Labels: approved, LGTM, feature, size/M

#148 feat(EVS): add a data source to query a list of EVS volumes
  docs/data-sources/evs_volumes.md
  g42cloud/provider.go
  g42cloud/services/acceptance/evs/data_source_g42cloud_evs_volumes_test.go
Labels: approved, LGTM, feature, size/M

#187 feat(RDS): import RDS resource and dataSource, and its unit test and document
  docs/data-sources/rds_backups.md
  docs/data-sources/rds_engine_versions.md
  docs/data-sources/rds_instances.md
  docs/data-sources/rds_sqlserver_collations.md
  docs/data-sources/rds_storage_types.md
  docs/resources/rds_backup.md
  docs/resources/rds_mysql_account.md
  docs/resources/rds_mysql_database.md
  docs/resources/rds_mysql_database_privilege.md
  docs/resources/rds_sql_audit.md
  g42cloud/provider.go
  g42cloud/services/acceptance/rds/data_source_g42cloud_rds_backups_test.go
  g42cloud/services/acceptance/rds/data_source_g42cloud_rds_engine_versions_test.go
  g42cloud/services/acceptance/rds/data_source_g42cloud_rds_instances_test.go
  g42cloud/services/acceptance/rds/data_source_g42cloud_rds_sqlserver_collations_test.go
  g42cloud/services/acceptance/rds/data_source_g42cloud_rds_storage_types_test.go
  g42cloud/services/acceptance/rds/resource_g42cloud_rds_backup_test.go
  g42cloud/services/acceptance/rds/resource_g42cloud_rds_mysql_account_test.go
  g42cloud/services/acceptance/rds/resource_g42cloud_rds_mysql_database_privilege_test.go
  g42cloud/services/acceptance/rds/resource_g42cloud_rds_mysql_database_test.go
  g42cloud/services/acceptance/rds/resource_g42cloud_rds_sql_audit_test.go
Labels: approved, LGTM, size/XL

#149 feat(cbr): import cbr resource and add unit test and docs
  docs/data-sources/cbr_backup.md
  g42cloud/provider.go
  g42cloud/services/acceptance/cbr/data_source_g42cloud_cbr_backup_test.go
Labels: approved, LGTM, feature, size/M

#147 feat(apig): import apig resource and add unit test and docs
  docs/data-sources/apig_groups.md
  docs/resources/apig_acl_policy.md
  docs/resources/apig_acl_policy_associate.md
  docs/resources/apig_appcode.md
  docs/resources/apig_application_authorization.md
  docs/resources/apig_channel.md
  docs/resources/apig_instance_routes.md
  docs/resources/apig_plugin.md
  docs/resources/apig_plugin_associate.md
  docs/resources/apig_signature.md
  docs/resources/apig_signature_associate.md
  g42cloud/provider.go
  g42cloud/services/acceptance/acceptance.go
  g42cloud/services/acceptance/apig/data_source_g42cloud_apig_groups_test.go
  g42cloud/services/acceptance/apig/resource_g42cloud_apig_acl_policy_associate_test.go
  g42cloud/services/acceptance/apig/resource_g42cloud_apig_acl_policy_test.go
  g42cloud/services/acceptance/apig/resource_g42cloud_apig_appcode_test.go
  g42cloud/services/acceptance/apig/resource_g42cloud_apig_application_authorization_test.go
  g42cloud/services/acceptance/apig/resource_g42cloud_apig_channel_test.go
  g42cloud/services/acceptance/apig/resource_g42cloud_apig_instance_routes_test.go
  g42cloud/services/acceptance/apig/resource_g42cloud_apig_plugin_associate_test.go
  g42cloud/services/acceptance/apig/resource_g42cloud_apig_plugin_test.go
  g42cloud/services/acceptance/apig/resource_g42cloud_apig_signature_associate_test.go
  g42cloud/services/acceptance/apig/resource_g42cloud_apig_signature_test.go
Labels: approved, LGTM, feature, size/XL

#150 feat(elb): import elb resource and add unit test and docs
  docs/data-sources/elb_loadbalancers.md
  docs/data-sources/elb_pools.md
  docs/resources/elb_logtank.md
  docs/resources/elb_security_policy.md
  g42cloud/provider.go
  g42cloud/services/acceptance/elb/data_source_g42cloud_elb_loadbalancers_test.go
  g42cloud/services/acceptance/elb/data_source_g42cloud_elb_pools_test.go
  g42cloud/services/acceptance/elb/resource_g42cloud_elb_logtank_test.go
  g42cloud/services/acceptance/elb/resource_g42cloud_elb_security_policy_test.go
Labels: approved, LGTM, size/L

#151 feat(DDS): import DDS resource, unit test and document
  docs/data-sources/dds_instances.md
  docs/resources/dds_audit_log_policy.md
  docs/resources/dds_backup.md
  docs/resources/dds_database_role.md
  docs/resources/dds_database_user.md
  docs/resources/dds_parameter_template.md
  g42cloud/provider.go
  g42cloud/services/acceptance/dds/data_source_g42cloud_dds_instances_test.go
  g42cloud/services/acceptance/dds/resource_g42cloud_dds_audit_log_policy_test.go
  g42cloud/services/acceptance/dds/resource_g42cloud_dds_backup_test.go
  g42cloud/services/acceptance/dds/resource_g42cloud_dds_database_role_test.go
  g42cloud/services/acceptance/dds/resource_g42cloud_dds_database_user_test.go
  g42cloud/services/acceptance/dds/resource_g42cloud_dds_parameter_template_test.go
Labels: approved, LGTM, feature, size/XL

#192 release: update CHANGELOG for v1.12.0
  CHANGELOG.md
Labels: approved, size/S

#153 feat(MPC): add DataSources to retrieve templates and template groups
  docs/resources/mpc_transcoding_template.md
  docs/resources/mpc_transcoding_template_group.md
  g42cloud/provider.go
  g42cloud/services/acceptance/mpc/resource_g42cloud_mpc_transcoding_template_group_test.go
  g42cloud/services/acceptance/mpc/resource_g42cloud_mpc_transcoding_template_test.go
Labels: approved, LGTM, feature, size/XL

#157 feat(dcs): import dcs resource and add unit test and docs
  docs/data-sources/dcs_instances.md
  docs/data-sources/dcs_template_detail.md
  docs/data-sources/dcs_templates.md
  docs/resources/dcs_backup.md
  docs/resources/dcs_custom_template.md
  g42cloud/provider.go
  g42cloud/services/acceptance/dcs/data_source_g42cloud_dcs_instances_test.go
  g42cloud/services/acceptance/dcs/data_source_g42cloud_dcs_template_detail_test.go
  g42cloud/services/acceptance/dcs/data_source_huaweicloud_dcs_templates_test.go
  g42cloud/services/acceptance/dcs/resource_g42cloud_dcs_backup_test.go
  g42cloud/services/acceptance/dcs/resource_g42cloud_dcs_custom_template_test.go
  g42cloud/services/acceptance/dcs/resource_g42cloud_dcs_instance_test.go
Labels: approved, LGTM, size/XL

#152 feat(cpts): add CPTS resource support
  docs/resources/cpts_project.md
  g42cloud/provider.go
  g42cloud/services/acceptance/cpts/resource_g42cloud_cpts_project_test.go
Labels: approved, size/M

#159 feat(dms): import dms resource, unit tests and docs
  docs/data-sources/dms_rabbitmq_flavors.md
  docs/data-sources/dms_rocketmq_broker.md
  docs/data-sources/dms_rocketmq_instances.md
  docs/resources/dms_rocketmq_consumer_group.md
  docs/resources/dms_rocketmq_topic.md
  docs/resources/dms_rocketmq_user.md
  g42cloud/provider.go
  g42cloud/services/acceptance/dms/data_source_g42cloud_dms_kafka_flavors_test.go
  g42cloud/services/acceptance/dms/data_source_g42cloud_dms_kafka_instances_test.go
  g42cloud/services/acceptance/dms/data_source_g42cloud_dms_product_test.go
  g42cloud/services/acceptance/dms/data_source_g42cloud_dms_rabbitmq_flavors_test.go
  g42cloud/services/acceptance/dms/data_source_g42cloud_dms_rocketmq_broker_test.go
  g42cloud/services/acceptance/dms/data_source_g42cloud_dms_rocketmq_instances_test.go
  g42cloud/services/acceptance/dms/resource_g42cloud_dms_kafka_instance_test.go
  g42cloud/services/acceptance/dms/resource_g42cloud_dms_kafka_permissions_test.go
  g42cloud/services/acceptance/dms/resource_g42cloud_dms_kafka_topic_test.go
  g42cloud/services/acceptance/dms/resource_g42cloud_dms_kafka_user_test.go
  g42cloud/services/acceptance/dms/resource_g42cloud_dms_rocketmq_consumer_group_test.go
  g42cloud/services/acceptance/dms/resource_g42cloud_dms_rocketmq_topic_test.go
  g42cloud/services/acceptance/dms/resource_g42cloud_dms_rocketmq_user_test.go
Labels: LGTM, size/XL

#160 feat(dns): add DNS data sources
  docs/data-sources/dns_recordsets.md
  docs/data-sources/dns_zones.md
  g42cloud/provider.go
  g42cloud/services/acceptance/dns/data_source_g42cloud_dns_recordsets_test.go
  g42cloud/services/acceptance/dns/data_source_g42cloud_dns_zones_test.go
Labels: size/L

#161 feat(EIP): add EIP resource and data sources
  README.md
  docs/data-sources/vpc_eip.md
  docs/data-sources/vpc_eips.md
  docs/resources/vpc_bandwidth_associate.md
  g42cloud/provider.go
  g42cloud/services/acceptance/eip/data_source_g42cloud_vpc_eip_test.go
  g42cloud/services/acceptance/eip/data_source_g42cloud_vpc_eips_test.go
  g42cloud/services/acceptance/eip/resource_g42cloud_vpc_bandwidth_associate_test.go
Labels: LGTM, size/L

#162 feat(lb): add LB data sources
  docs/data-sources/lb_certificate.md
  docs/data-sources/lb_loadbalancer.md
  docs/data-sources/lb_pools.md
  g42cloud/provider.go
  g42cloud/services/acceptance/lb/data_source_g42cloud_lb_certificate_test.go
  g42cloud/services/acceptance/lb/data_source_g42cloud_lb_loadbalancer_test.go
  g42cloud/services/acceptance/lb/data_source_g42cloud_lb_pools_test.go
Labels: size/L

#163 feat(vpc): import vpc resource and add unit test and docs
  docs/data-sources/networking_secgroups.md
  docs/data-sources/vpc_peering_connection.md
  docs/data-sources/vpc_subnets.md
  docs/data-sources/vpcs.md
  docs/resources/vpc_flow_log.md
  g42cloud/provider.go
  g42cloud/services/acceptance/vpc/data_source_g42cloud_networking_secgroups_test.go
  g42cloud/services/acceptance/vpc/data_source_g42cloud_vpc_peering_connection_test.go
  g42cloud/services/acceptance/vpc/data_source_g42cloud_vpc_subnets_test.go
  g42cloud/services/acceptance/vpc/data_source_g42cloud_vpcs_test.go
  g42cloud/services/acceptance/vpc/resource_g42cloud_vpc_flow_log_test.go
Labels: size/XL

#164 feat(TMS): add a data source to query supported resource types information
  docs/data-sources/tms_resource_types.md
  g42cloud/provider.go
  g42cloud/services/acceptance/acceptance.go
  g42cloud/services/acceptance/tms/resource_g42cloud_tms_resource_tags_test.go
Labels: size/M

#168 feat(smn): add SMN resources and data sources support
  docs/data-sources/smn_message_templates.md
  docs/data-sources/smn_topics.md
  docs/resources/smn_logtank.md
  docs/resources/smn_message_template.md
  g42cloud/provider.go
  g42cloud/services/acceptance/smn/data_source_g42cloud_smn_message_templates_test.go
  g42cloud/services/acceptance/smn/data_source_g42cloud_smn_topics_test.go
  g42cloud/services/acceptance/smn/resource_g42cloud_smn_logtank_test.go
  g42cloud/services/acceptance/smn/resource_g42cloud_smn_message_template_test.go
Labels: LGTM, size/L

#171 feat(IAM): import IAM resource, unit test and document.
  docs/resources/identity_provider.md
  docs/resources/identity_provider_conversion.md
  g42cloud/provider.go
  g42cloud/services/acceptance/iam/resource_g42cloud_identity_provider_conversion_test.go
  g42cloud/services/acceptance/iam/resource_g42cloud_identity_provider_test.go
Labels: LGTM, feature, size/L

#180 feat(SWR): import SWR resource, unit test and document
  docs/resources/swr_image_retention_policy.md
  g42cloud/provider.go
  g42cloud/services/acceptance/swr/resource_g42cloud_swr_image_retention_policy_test.go
Labels: LGTM, feature, size/L

#188 feat(modelArts): import modelArts resources, data sources and docs
  docs/data-sources/modelarts_model_templates.md
  docs/data-sources/modelarts_models.md
  docs/data-sources/modelarts_notebook_flavors.md
  docs/data-sources/modelarts_resource_flavors.md
  docs/data-sources/modelarts_service_flavors.md
  docs/resources/aom_event_alarm_rule.md
  docs/resources/modelarts_model.md
  docs/resources/modelarts_network.md
  g42cloud/provider.go
  g42cloud/services/acceptance/acceptance.go
  g42cloud/services/acceptance/modelarts/data_source_g42cloud_modelarts_model_templates_test.go
  g42cloud/services/acceptance/modelarts/data_source_g42cloud_modelarts_models_test.go
  g42cloud/services/acceptance/modelarts/data_source_g42cloud_modelarts_notebook_flavors_test.go
  g42cloud/services/acceptance/modelarts/data_source_g42cloud_modelarts_resource_flavors_test.go
  g42cloud/services/acceptance/modelarts/data_source_g42cloud_modelarts_service_flavors_test.go
  g42cloud/services/acceptance/modelarts/resource_g42cloud_modelarts_model_test.go
  g42cloud/services/acceptance/modelarts/resource_g42cloud_modelarts_network_test.go
Labels: LGTM, size/XL

#189 feat(MRS): import MRS dataSource of clusters.
  docs/data-sources/mapreduce_clusters.md
  g42cloud/provider.go
  g42cloud/services/acceptance/mrs/data_source_g42cloud_mapreduce_clusters_test.go
Labels: LGTM, size/L

#167 feat(DLI): import DLI resource, unit test and document.
  docs/resources/dli_agency.md
  docs/resources/dli_database.md
  docs/resources/dli_datasource_auth.md
  docs/resources/dli_datasource_connection.md
  docs/resources/dli_global_variable.md
  docs/resources/dli_package.md
  docs/resources/dli_spark_job.md
  docs/resources/dli_sql_job.md
  docs/resources/dli_table.md
  docs/resources/dli_template_flink.md
  docs/resources/dli_template_spark.md
  docs/resources/dli_template_sql.md
  g42cloud/provider.go
  g42cloud/services/acceptance/acceptance.go
  g42cloud/services/acceptance/dli/resource_g42cloud_dli_agency_test.go
  g42cloud/services/acceptance/dli/resource_g42cloud_dli_database_test.go
  g42cloud/services/acceptance/dli/resource_g42cloud_dli_datasource_auth_test.go
  g42cloud/services/acceptance/dli/resource_g42cloud_dli_datasource_connection_test.go
  g42cloud/services/acceptance/dli/resource_g42cloud_dli_global_variable_test.go
  g42cloud/services/acceptance/dli/resource_g42cloud_dli_package_test.go
  g42cloud/services/acceptance/dli/resource_g42cloud_dli_spark_job_test.go
  g42cloud/services/acceptance/dli/resource_g42cloud_dli_sql_job_test.go
  g42cloud/services/acceptance/dli/resource_g42cloud_dli_table_test.go
  g42cloud/services/acceptance/dli/resource_g42cloud_dli_template_flink_test.go
  g42cloud/services/acceptance/dli/resource_g42cloud_dli_template_spark_test.go
  g42cloud/services/acceptance/dli/resource_g42cloud_dli_template_sql_test.go
Labels: feature, size/XL

#165 feat(obs): add obs resources support
  docs/resources/obs_bucket_acl.md
  docs/resources/obs_bucket_object_acl.md
  g42cloud/provider.go
  g42cloud/services/acceptance/obs/resource_g42cloud_obs_bucket_acl_test.go
  g42cloud/services/acceptance/obs/resource_g42cloud_obs_bucket_object_acl_test.go
Labels: size/L

#169 feat(DWS): add DWS DataSource and Resources
  docs/data-sources/dws_flavors.md
  docs/resources/dws_alarm_subscription.md
  docs/resources/dws_event_subscription.md
  g42cloud/provider.go
  g42cloud/services/acceptance/dws/data_source_g42cloud_dws_flavors_test.go
  g42cloud/services/acceptance/dws/resource_g42cloud_dws_alarm_subscription_test.go
  g42cloud/services/acceptance/dws/resource_g42cloud_dws_event_subscription_test.go
Labels: feature, size/L

#173 feat(IMS): import IMS resource, unit test and document.
  docs/resources/images_image_copy.md
  docs/resources/images_image_share.md
  docs/resources/images_image_share_accepter.md
  g42cloud/provider.go
  g42cloud/services/acceptance/acceptance.go
  g42cloud/services/acceptance/ims/resource_g42cloud_images_image_copy_test.go
  g42cloud/services/acceptance/ims/resource_g42cloud_images_image_share_accepter_test.go
  g42cloud/services/acceptance/ims/resource_g42cloud_images_image_share_test.go
Labels: feature, size/L

#183 feat(nat): import nat resource and add unit test and docs
  docs/resources/nat_private_dnat_rule.md
  docs/resources/nat_private_gateway.md
  docs/resources/nat_private_snat_rule.md
  docs/resources/nat_private_transit_ip.md
  g42cloud/provider.go
  g42cloud/services/acceptance/nat/resource_g42cloud_nat_private_dnat_rule_test.go
  g42cloud/services/acceptance/nat/resource_g42cloud_nat_private_gateway_test.go
  g42cloud/services/acceptance/nat/resource_g42cloud_nat_private_snat_rule_test.go
  g42cloud/services/acceptance/nat/resource_g42cloud_nat_private_transit_ip_test.go
Labels: feature, size/XL

#179 feat(LTS): import LTS resource, unit test and document
  docs/data-sources/lts_structuring_custom_templates.md
  docs/resources/lts_aom_access.md
  docs/resources/lts_host_access.md
  docs/resources/lts_host_group.md
  docs/resources/lts_keywords_alarm_rule.md
  docs/resources/lts_search_criteria.md
  docs/resources/lts_sql_alarm_rule.md
  docs/resources/lts_structuring_configuration.md
  docs/resources/lts_structuring_custom_configuration.md
  docs/resources/lts_waf_access.md
  g42cloud/provider.go
  g42cloud/services/acceptance/acceptance.go
  g42cloud/services/acceptance/lts/data_source_g42cloud_lts_structuring_custom_templates_test.go
  g42cloud/services/acceptance/lts/resource_g42cloud_lts_aom_access_test.go
  g42cloud/services/acceptance/lts/resource_g42cloud_lts_host_access_test.go
  g42cloud/services/acceptance/lts/resource_g42cloud_lts_host_group_test.go
  g42cloud/services/acceptance/lts/resource_g42cloud_lts_keywords_alarm_rule_test.go
  g42cloud/services/acceptance/lts/resource_g42cloud_lts_search_criteria_test.go
  g42cloud/services/acceptance/lts/resource_g42cloud_lts_sql_alarm_rule_test.go
  g42cloud/services/acceptance/lts/resource_g42cloud_lts_structuring_configuration_test.go
  g42cloud/services/acceptance/lts/resource_g42cloud_lts_structuring_custom_configuration_test.go
  g42cloud/services/acceptance/lts/resource_g42cloud_lts_waf_access_test.go
Labels: feature, size/XL

#191 feat(ges): import ges_metadata resource and doc
  docs/resources/ges_metadata.md
  g42cloud/provider.go
  g42cloud/services/acceptance/ges/resource_g42cloud_ges_metadata_test.go
Labels: size/L

#195 Update CHANGELOG for v1.13.0
  CHANGELOG.md
Labels: approved
