Repository g42cloud-terraform/terraform-provider-g42cloud, pull requests merged in 2023-11, with the labels that each got.

#172 workflow: add automatic merge PR action
  .github/workflows/lgtm-merger.yml
  .github/workflows/prow.yml
Labels: approved, LGTM

#174 workflow: fix github-token setter
  .github/workflows/lgtm-merger.yml
Labels: approved

#143 feat(AS): import AS resource, unit test and document
  docs/data-sources/as_configurations.md
  docs/data-sources/as_groups.md
  docs/resources/as_bandwidth_policy.md
  docs/resources/as_instance_attach.md
  docs/resources/as_lifecycle_hook.md
  docs/resources/as_notification.md
  g42cloud/provider.go
  g42cloud/services/acceptance/as/data_source_g42cloud_as_configurations_test.go
  g42cloud/services/acceptance/as/data_source_g42cloud_as_groups_test.go
  g42cloud/services/acceptance/as/resource_g42cloud_as_bandwidth_policy_test.go
  g42cloud/services/acceptance/as/resource_g42cloud_as_instance_attach_test.go
  g42cloud/services/acceptance/as/resource_g42cloud_as_lifecycle_hook_test.go
  g42cloud/services/acceptance/as/resource_g42cloud_as_notification_test.go
Labels: approved, LGTM

#131 chore(scripts): generate schema and check consistency of markdown
  scripts/scanner/file.go
  scripts/scanner/main.go
  scripts/scanner/markdown_checker.go
  scripts/scanner/product.go
  scripts/scanner/product_catalog.json
  scripts/scanner/schema.go
  scripts/scanner/schema_block.go
  scripts/scanner/special.go
Labels: approved, LGTM

#175 style(provider): optimize the format of the provider.go
  g42cloud/provider.go
Labels: approved, LGTM

#177 workflow: add Jason-Zhang9309 to reviewers and approvers
  OWNERS
Labels: approved, LGTM

#145 feat(CES): import CES resource, unit test and document
  docs/resources/ces_alarm_template.md
  docs/resources/ces_resource_group.md
  g42cloud/provider.go
  g42cloud/services/acceptance/ces/resource_g42cloud_ces_alarm_template_test.go
  g42cloud/services/acceptance/ces/resource_g42cloud_ces_resource_group_test.go
Labels: approved, LGTM

#141 docs(CCE): fix docs issues and upgrade.
  docs/data-sources/cce_addon_template.md
  docs/data-sources/cce_cluster.md
  docs/resources/cce_addon.md
  docs/resources/cce_cluster.md
  docs/resources/cce_node.md
  docs/resources/cce_node_pool.md
Labels: approved, LGTM

#144 feat(CCE): import CCE resource, unit test and document
  docs/data-sources/cce_clusters.md
  docs/data-sources/cce_nodes.md
  docs/resources/cce_namespace.md
  docs/resources/cce_pvc.md
  g42cloud/provider.go
  g42cloud/services/acceptance/cce/data_source_g42cloud_cce_clusters_test.go
  g42cloud/services/acceptance/cce/data_source_g42cloud_cce_nodes_test.go
  g42cloud/services/acceptance/cce/resource_g42cloud_cce_namespace_test.go
  g42cloud/services/acceptance/cce/resource_g42cloud_cce_pvc_test.go
Labels: approved, LGTM

#146 feat(CSS): import CSS resource, unit test and document
  docs/resources/css_configuration.md
  g42cloud/provider.go
  g42cloud/services/acceptance/css/resource_g42cloud_css_cluster_test.go
  g42cloud/services/acceptance/css/resource_g42cloud_css_configuration_test.go
Labels: approved, LGTM

#154 fix(RDS): fix rds issues
  g42cloud/resource_g42cloud_rds_instance.go
Labels: approved, LGTM

#181 chore: update reviewers
  OWNERS
Labels: chore, size/XS

#184 workflow: remove fuxingloh/multi-labeler action
  .github/labeler.yml
  .github/workflows/pr_labeler.yml
Labels: approved, LGTM, size/S

#185 refactor: update .gitignore and workflow names
  .github/workflows/doc-lint.yml
  .github/workflows/pr-size-labeler.yml
  .github/workflows/prow-command.yml
  .github/workflows/prow-merge-on-lgtm.yml
  .gitignore
Labels: approved, LGTM, size/S
